<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>

<h1>1) Нажми "новое слово"</h1>
<h1>2) Добавь нужное кол-во слов</h1>
<h1>3) Нажми "Составить кроссворд"</h1>
<h1>4) Можно добавить новые слова и нажать "составить кроссворд" еще раз</h1>
<h1>5) Удалять слова пока нельзя, но можно оставлять поля пустыми, тогда они проигнорируются :)</h1>


<input type="button" id="new_word_button" value="Новое слово"><br>
<input type="button" id="send_request_button" value="Составить кроссворд">
<div id="words_block">
    <label>
        <input type="text" value="миша"><br>
        <input type="text" value="машина"><br>
        <input type="text" value="экзамен"><br>
        <input type="text" value="учитель"><br>
        <input type="text" value="программа"><br>
        <input type="text" value="приколы">
    </label>
</div>


<table align="center" style="text-align:center;width:600px;" border="1" id="crossword_table"></table>
<div id="message_div"></div>

<script>
    $(function() {

        function go_to_vector(y, x, direction) {
            if (direction == 0) {
                return [y - 1, x];
            } else if (direction == 1) {
                return [y, x + 1];
            } else if (direction == 2) {
                return [y + 1, x];
            } else if (direction == 3) {
                return [y, x - 1];
            }
        }

        function add_start_bound(elem, direction) {
            if (direction == 0) {
                elem.css('border-bottom', '2px solid black');
            } else if (direction == 1) {
                elem.css('border-left', '2px solid black');
            } else if (direction == 2) {
                elem.css('border-top', '2px solid black');
            } else if (direction == 3) {
                elem.css('border-right', '2px solid black');
            }
        }

        function add_inside_bound(elem, direction) {
            if (direction == 0 || direction == 2) {
                elem.css('border-left', '2px solid black');
                elem.css('border-right', '2px solid black');
            } else {
                elem.css('border-top', '2px solid black');
                elem.css('border-bottom', '2px solid black');
            }
        }

        function add_end_bound(elem, direction) {
            direction = (direction + 2) % 4;
            add_start_bound(elem, direction);
        }

        function draw_crossword(data) {
            $("#message_div").empty();
            if (data.height == data.width && data.width == 0) {
                $("#message_div").append("<h3 style='color:red'>Не могу составить кроссворд из этих слов, " +
                    "добавьте другие слова так, чтобы было больше пересечений</h3>");
                return;
            }

            for (i = 0; i < data.height; i++) {
                $("#crossword_table").append('<tr></tr>');
            }

            let trs = $("#crossword_table").find("tr");
            for (i = 0; i < data.height; i++) {
                for (j = 0; j < data.width; j++) {
                    trs.eq(i).append('<td style="width:50px;height:50px"></td>');
                }
            }

            let table = [];
            for (i = 0; i < trs.length; i++) {
                table[i] = trs.eq(i).find("td");
            }

            console.log(table);

            for (i = 0; i < data.data.length; i++) {
                let x = data.data[i].x;
                let y = data.data[i].y;
                let direction = data.data[i].direction;
                let chars = data.data[i].word.split("");

                table[y].eq(x).css('background-color', 'bisque');
                add_start_bound(table[y].eq(x), direction);
                for (index = 0; index < chars.length; index++) {

                    if (!table[y].eq(x).text()) {
                        table[y].eq(x).append('<h3>' + chars[index] + '</h3>');
                    }

                    add_inside_bound(table[y].eq(x), direction);
                    if (index + 1 == chars.length)
                        add_end_bound(table[y].eq(x), direction);

                    [y, x] = go_to_vector(y, x, direction);
                }
            }
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }


        $("#new_word_button").click(function () {
            $("#words_block").append("<br><label><input type='text'></label>");
        });

        $("#send_request_button").click(function () {

            $("#crossword_table").empty();

            let elems = $("#words_block").find("input");
            let words = [];
            for (i = 0; i < elems.length; i++) {
                words.push(elems[i].value);
            }

            $.ajax({
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                url: '/generate/',
                type: "POST",
                data: { "words": words },
                success: function (data) {
                    console.log(data);
                    draw_crossword(data);
                }
            });

        });
    });
</script>

</body>
</html>