<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<style>
    .letter {
        text-align: center;
        border: 1px solid;
        background-color: beige;
        margin-top: -1px;
        margin-left: -1px;
    }

    .main {
        margin: auto;
    }

    .char_font {
    }

    .one_line {
        display: flex;
    }

    .empty_letter {
        background-color: azure;
        border: 1px solid;
        margin-top: -1px;
        margin-left: -1px;
    }

    .start_letter {
        background-color: darkseagreen;
    }

    .hover_letter {
        background-color: rgba(0, 0, 0, 0.4);
    }
</style>
<body>

<h1>1) Нажми "новое слово"</h1>
<h1>2) Добавь нужное кол-во слов</h1>
<h1>3) Нажми "Составить кроссворд"</h1>
<h1>4) Можно добавить новые слова и нажать "составить кроссворд" еще раз</h1>
<h1>5) Удалять слова пока нельзя, но можно оставлять поля пустыми, тогда они проигнорируются :)</h1>


<input type="button" id="new_word_button" value="Новое слово"><br>
<input type="button" id="send_request_button" value="Составить кроссворд">
<div id="words_block">
    <label>
        <input type="text" value="миша"><br>
        <input type="text" value="машина"><br>
        <input type="text" value="экзамен"><br>
        <input type="text" value="учитель"><br>
        <input type="text" value="программа"><br>
        <input type="text" value="приколы">
    </label>
</div>

<!--
<div class="main">
    <div class="one_line">
        <div class="letter start_letter"><p class="char_font">М</p></div>
        <div class="letter"><p class="char_font">И</p></div>
        <div class="letter"><p class="char_font">Ш</p></div>
        <div class="letter"><p class="char_font">А</p></div>
    </div>
    <div class="one_line">
        <div class="letter"><p class="char_font">А</p></div>
        <div class="empty_letter"></div>
        <div class="empty_letter"></div>
        <div class="empty_letter"></div>
    </div>
    <div class="one_line">
        <div class="letter"><p class="char_font">Ш</p></div>
        <div class="empty_letter"></div>
        <div class="empty_letter"></div>
        <div class="empty_letter"></div>
    </div>
    <div class="one_line">
        <div class="letter"><p class="char_font">А</p></div>
        <div class="empty_letter"></div>
        <div class="empty_letter"></div>
        <div class="empty_letter"></div>
    </div>
</div>
-->

<div id="message_div"></div>

<div class="main" id="main_table"></div>

<script>
    $(function() {

        function create_table_div(height, width, data) {

            for (i = 0; i < height; i++) {
                $("#main_table").append('<div class="one_line">');
            }

            let lines = $("#main_table").find("div");
            for (i = 0; i < height; i++) {
                for (j = 0; j < width; j++) {
                    lines.eq(i).append('<div class="empty_letter"></div>');
                }
            }

            let table = [];
            for (i = 0; i < lines.length; i++) {
                table[i] = lines.eq(i).find("div");
            }

            console.log(table);

            for (i = 0; i < data.length; i++) {
                let x = data[i].x;
                let y = data[i].y;
                let direction = data[i].direction;
                let chars = data[i].word.split("");

                table[y].eq(x).addClass("start_letter")
                for (index = 0; index < chars.length; index++) {

                    table[y].eq(x).removeClass("empty_letter");

                    if (!table[y].eq(x).text()) {
                        table[y].eq(x).addClass("letter");
                        table[y].eq(x).append('<p class="char_font">' + chars[index].toUpperCase() + '</p>');
                    }

                    [y, x] = go_to_vector(y, x, direction);
                }
            }

            let size = Math.round(900 / width);

            console.log("size = " + size);

            $('.main').css('width', size * width +'px');

            console.log("main.width = " + size * width +'px')

            $('.letter').css('width', size);
            $('.letter').css('height', size);
            $('.letter').css('line-height', size + 'px');

            $('.empty_letter').css('width', size);
            $('.empty_letter').css('height', size);

            let font_size = Math.round(size * 3/5);
            $('.char_font').css('font-size', font_size + 'px');
        }

        function go_to_vector(y, x, direction) {
            if (direction == 0) {
                return [y - 1, x];
            } else if (direction == 1) {
                return [y, x + 1];
            } else if (direction == 2) {
                return [y + 1, x];
            } else if (direction == 3) {
                return [y, x - 1];
            }
        }

        function draw_crossword(data) {
            $("#message_div").empty();
            $("#main_table").empty();
            if (data.height == data.width && data.width == 0) {
                $("#message_div").append("<h3 style='color:red'>Не могу составить кроссворд из этих слов, " +
                    "добавьте другие слова так, чтобы было больше пересечений</h3>");
                return;
            }

            create_table_div(data.height, data.width, data.data);

            $(".letter").mouseover(function() {
                $(this).addClass("hover_letter");
            });

            $(".letter").mouseleave(function () {
                $(this).removeClass("hover_letter");
            })
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }


        $("#new_word_button").click(function () {
            $("#words_block").append("<br><label><input type='text'></label>");
        });

        $("#send_request_button").click(function () {

            $("#crossword_table").empty();

            let elems = $("#words_block").find("input");
            let words = [];
            for (i = 0; i < elems.length; i++) {
                words.push(elems[i].value);
            }

            $.ajax({
                headers: { "X-CSRFToken": getCookie("csrftoken") },
                url: '/generate/',
                type: "POST",
                data: { "words": words },
                success: function (data) {
                    console.log(data);
                    draw_crossword(data);
                }
            });

        });

    });

</script>

</body>
</html>